body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    min-height: auto;
    background-image:url('wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
}

.chat-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #000000;
    border-radius: 10px;
    border-style: solid;
    border-color: #34db42;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.chat-box {
    height: 300px;
    padding: 15px;
    background:rgba(250, 250, 250, 0.3);
    background-image: url('chat_bot.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    overflow-y: auto;
    border-bottom: 2px solid #34db42;
}

.user-message{
    background-color: #8f8d8d;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.bot-message {
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000000;
}

#user-input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #48ff00;
    border-radius: 5px;
    outline: none;
}

button {
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    background-color: #34db42;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #34db42;
}
