/* Global styles */
body {
  min-height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/023/516/920/small/fresh-veggie-border-organic-vegetables-on-natural-black-background-ideal-for-healthy-food-designs-generative-ai-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px; 
  border: none; 
}

.card-text {
  font-size: 1rem;
  color: #000;
  text-align: justify; 
}

.ingredient{

  color:#1eff00;
}

.btn-outline-success {
  color: #1eff00; 
  border-color: #55ff00; 
}

/* Header styles */
h1 {
  font-family: system-ui, sans-serif;
  font-size: 5rem;
  text-align: center;
  cursor: pointer;
  --s: 0.1em;   
  --c: #2c4bff; 
  color: #0000;
  padding-bottom: var(--s);
  background: 
  linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
  linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  transition: 0.5s;
}

h1:hover {
  --_p: 100%;
}

/* Card title styles */
.fancy {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(45deg, #fd6e6a, #ff9a44);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow-text-animation 5s infinite;
}

@keyframes rainbow-text-animation {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(180deg); }
}
