<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>What's in my fridge?</title>
    <link rel="stylesheet" href="App.css">
</head>
<body ng-controller="MainController">
    <h1>{{ title }}</h1>
    
    <form ng-submit="searchRecipes()">
        <label for="ingredients">Enter ingredients (comma separated): </label>
        <input type="text" id="ingredients" ng-model="ingredientInput">
        <button type="submit">Search</button>
    </form>

    <div ng-show="showRecipes">
        <h2>Recipes:</h2>
        <div ng-repeat="recipe in recipes">
            <h3>{{ recipe.name }}</h3>
            <p>Ingredients: {{ recipe.ingredients.join(', ') }}</p>
            <p>Description: {{ recipe.description }}</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="App.js"></script>
</body>
</html>
