<div>
  <h1>{{title}}</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rerum ducimus, ratione nesciunt enim aliquam deleniti expedita nobis nulla temporibus eveniet repudiandae facilis optio! Vel magnam dicta aut dolores iusto
  </p>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <div class = "container-fluid">
    <app-dishes>
      
    </app-dishes>
  </div>

</div>